[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://git.sadmansk.com/sadmansk/hugo-goa.git

[submodule "content/blog"]
	path = content/blog
	url = https://git.sadmansk.com/sadmansk/blog.git
[submodule "themes/manis"]
	path = themes/manis
	url = https://git.sadmansk.com/sadmansk/manis-hugo-theme
